<!doctype html>
<html ng-app="<%= namespace %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appName %></title>
    <!-- DONT REMOVE - CSS is automatically added by running grunt -->
    <!-- injector:css -->
    <!-- endinjector -->
  </head>
  <body ng-controller="ApplicationController as appCtrl">

    <!-- DONT REMOVE - JS is automatically added by running grunt -->
    <!-- injector:js -->
    <!-- endinjector -->
  </body>
</html>
